# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

- List some popular Languages used by data science
- List come commonly used data science library
- List some common data science tools
- Perform some simple arithmetic operations

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. PyTorch
2. ggplot
3. Scikit-learn
4. TensorFlow
5. Matplotlib

|Data Science Tools|
|------------------|
| Matplotlib |
| ggplot |
| Pandas |
| NumPy |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Aurthor

Dalton R. Burton